openapi: 3.0.0
info:
  title: The Trade Desk API
  description: This API allows access to The Trade Desk Platform API. Use the sandbox
    for testing and the production environment for live operations. Authentication
    is required for all requests. Partial object updates and rate limiting are supported.
  version: 1.0.2
servers:
- url: https://api.thetradedesk.com/v3/
  description: Production environment
- url: https://ext-api.sb.thetradedesk.com/v3/
  description: Sandbox environment
security:
- TTDAuth: []
paths:
  /v3/advertiser:
    post:
      summary: Create a new advertiser
      description: Create a new advertiser entity with the necessary details for attribution
        and domain address.
      operationId: v3_advertiser_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdvertiserRequest'
        required: true
      responses:
        "200":
          description: Advertiser created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertiserResponse'
        "400":
          description: "Bad request, invalid or missing parameters."
      x-openapi-router-controller: swagger_server.controllers.default_controller
  /v3/advertiser/{advertiserId}:
    get:
      summary: Retrieve an advertiser by ID
      description: Get details of an existing advertiser using the advertiser's platform
        ID.
      operationId: v3_advertiser_advertiser_id_get
      parameters:
      - name: advertiserId
        in: path
        description: The platform ID of the advertiser to retrieve.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Advertiser details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertiserDetailsResponse'
        "400":
          description: "Bad request, invalid or missing advertiser ID."
        "404":
          description: Advertiser not found.
      x-openapi-router-controller: swagger_server.controllers.default_controller
  /v3/adgroup:
    post:
      summary: Create a new Ad Group
      description: This endpoint allows you to create a new Ad Group within a campaign.
      operationId: v3_adgroup_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdGroupRequest'
        required: true
      responses:
        "200":
          description: Ad Group created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdGroupResponse'
        "400":
          description: "Bad request, invalid or missing parameters."
      x-openapi-router-controller: swagger_server.controllers.default_controller
  /v3/creative:
    post:
      summary: Create a new creative
      description: Create a new creative under an advertiser.
      operationId: v3_creative_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeRequest'
        required: true
      responses:
        "200":
          description: Creative created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeRequest'
        "400":
          description: "Bad request, invalid or missing parameters."
      x-openapi-router-controller: swagger_server.controllers.default_controller
  /v3/bidlist:
    post:
      summary: Create a bid list
      description: "Create a bid list, returning the created bid list."
      operationId: v3_bidlist_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BidListRequest'
        required: true
      responses:
        "200":
          description: Bid list created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BidListRequest'
        "400":
          description: Invalid request or missing parameters.
      x-openapi-router-controller: swagger_server.controllers.default_controller
  /v3/campaign:
    post:
      summary: Create a new campaign
      description: "Create a new campaign entity with the necessary details such as\
        \ name, budget, and start date."
      operationId: v3_campaign_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignRequest'
        required: true
      responses:
        "200":
          description: Campaign created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
        "400":
          description: "Invalid request, missing or incorrect parameters."
      x-openapi-router-controller: swagger_server.controllers.default_controller
  /v3/campaign/{campaignId}/metrics:
    get:
      summary: Get metrics for an existing campaign
      description: "Retrieve the performance metrics for a campaign, including spend,\
        \ impressions, and other key metrics."
      operationId: v3_campaign_campaign_id_metrics_get
      parameters:
      - name: campaignId
        in: path
        description: The ID of the campaign to retrieve metrics for
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Metrics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignMetricsResponse'
        "400":
          description: Invalid request or missing parameters
        "404":
          description: Campaign not found
      x-openapi-router-controller: swagger_server.controllers.default_controller
  /v3/dmp/firstparty/advertiser:
    post:
      summary: Get First Party Data for Advertisers
      description: Retrieve the First Party Data matching the provided query for an
        advertiser.
      operationId: v3_dmp_firstparty_advertiser_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirstPartyAdvertiserRequest'
        required: true
      responses:
        "200":
          description: First Party Data retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirstPartyAdvertiserResponse'
        "400":
          description: Invalid request or missing parameters.
      x-openapi-router-controller: swagger_server.controllers.default_controller
  /v3/frequency/config:
    post:
      summary: Create a frequency configuration
      description: "Creates a frequency configuration, associating entities to increment\
        \ the counter and applying the frequency configuration to bid lists."
      operationId: v3_frequency_config_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FrequencyConfigRequest'
        required: true
      responses:
        "200":
          description: Frequency configuration created successfully.
        "400":
          description: Invalid or missing parameters.
      x-openapi-router-controller: swagger_server.controllers.default_controller
  /v3/trackingtag/{trackingTagId}:
    get:
      summary: Get a tracking tag
      description: Retrieve a tracking tag by its ID.
      operationId: v3_trackingtag_tracking_tag_id_get
      parameters:
      - name: trackingTagId
        in: path
        description: The ID of the tracking tag to retrieve.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Tracking tag retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackingTagResponse'
        "400":
          description: Invalid or missing parameters.
        "404":
          description: Tracking tag not found.
      x-openapi-router-controller: swagger_server.controllers.default_controller
  /v3/seller/query:
    post:
      summary: "Retrieve a paged, filterable list of sellers"
      description: "Retrieve a paged, filterable list of sellers, seller domains,\
        \ and whether they can be targeted as a SellerDomain in a bid list. Only returns\
        \ sellers that have spent through our platform."
      operationId: v3_seller_query_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SellerQueryRequest'
        required: true
      responses:
        "200":
          description: List of sellers retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerQueryResponse'
        "400":
          description: Invalid request or missing parameters.
      x-openapi-router-controller: swagger_server.controllers.default_controller
  /v3/iptargetinglist:
    post:
      summary: Create a new IP Targeting List
      description: Create a new IP Targeting List for an advertiser. Each Advertiser
        has a quota for the number of IP targeting ranges they may include across
        all of their IP Targeting Lists.
      operationId: v3_iptargetinglist_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IPTargetingListRequest'
        required: true
      responses:
        "200":
          description: IP Targeting List created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPTargetingListResponse'
        "400":
          description: "Invalid request, such as exceeding the advertiser's quota\
            \ for IP targeting ranges."
      x-openapi-router-controller: swagger_server.controllers.default_controller
  /v3/myreports/reportschedule/{scheduleId}:
    get:
      summary: Get a report schedule
      description: Retrieve details of a report schedule by its ID.
      operationId: v3_myreports_reportschedule_schedule_id_get
      parameters:
      - name: scheduleId
        in: path
        description: The ID of the report schedule to retrieve.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Report schedule retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportScheduleResponse'
        "400":
          description: Invalid request or missing parameters.
      x-openapi-router-controller: swagger_server.controllers.default_controller
  /v3/overview/advertiser/{advertiserId}:
    get:
      summary: Get an advertiser overview
      description: "Retrieve an overview of an advertiser, including descendant relationships\
        \ for campaigns, ad groups, and creatives."
      operationId: v3_overview_advertiser_advertiser_id_get
      parameters:
      - name: advertiserId
        in: path
        description: The platform ID of the advertiser.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Advertiser overview retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertiserOverviewResponse'
        "400":
          description: Invalid request or missing parameters.
      x-openapi-router-controller: swagger_server.controllers.default_controller
  /v3/universalforecasting/generate:
    post:
      summary: Generate a forecast
      description: Generate a forecast based on the data available at the time of
        the request.
      operationId: v3_universalforecasting_generate_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UniversalForecastingRequest'
        required: true
      responses:
        "200":
          description: Forecast generated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        "400":
          description: Invalid request or missing parameters.
      x-openapi-router-controller: swagger_server.controllers.default_controller
components:
  schemas:
    AdGroupRequest:
      required:
      - AdGroupName
      - BudgetSettings
      - CampaignId
      - PacingMode
      type: object
      properties:
        AdGroupName:
          maxLength: 256
          type: string
          description: The name of the Ad Group.
        CampaignId:
          type: string
          description: The ID of the Campaign that owns this Ad Group.
        BudgetSettings:
          $ref: '#/components/schemas/AdGroupRequest_BudgetSettings'
        PacingMode:
          type: string
          description: The pacing mode for the Ad Group.
          example: PaceToEndOfDay
          enum:
          - PaceToEndOfDay
          - "Off"
          - PaceToEndOfFlight
          - PaceAhead
        IsEnabled:
          type: boolean
          description: Whether the Ad Group is enabled to spend.
          default: false
        CreativeIds:
          type: array
          description: A list of Creative IDs associated with this Ad Group.
          items:
            type: string
    AdGroupResponse:
      type: object
      properties:
        AdGroupId:
          type: string
          description: The ID of the created Ad Group.
        AdGroupName:
          type: string
          description: The name of the created Ad Group.
        CampaignId:
          type: string
          description: The ID of the Campaign that owns this Ad Group.
      example:
        CampaignId: CampaignId
        AdGroupName: AdGroupName
        AdGroupId: AdGroupId
    AdvertiserOverviewResponse:
      type: object
      properties:
        AdvertiserId:
          type: string
          description: The platform ID of the advertiser.
        AdvertiserName:
          type: string
          description: The name of the advertiser.
        Campaigns:
          type: array
          items:
            $ref: '#/components/schemas/AdvertiserOverviewResponse_Campaigns'
        Creatives:
          type: array
          items:
            $ref: '#/components/schemas/AdvertiserOverviewResponse_Creatives'
      example:
        AdvertiserId: AdvertiserId
        AdvertiserName: AdvertiserName
        Campaigns:
        - Availability: Available
          Description: Description
          EndDateUTC: 2000-01-23T04:56:07.000+00:00
          CampaignId: CampaignId
          CampaignName: CampaignName
          AdGroups:
          - Availability: Available
            Description: Description
            IsEnabled: true
            Creatives:
            - Description: Description
              CreativeId: CreativeId
              CreativeName: CreativeName
            - Description: Description
              CreativeId: CreativeId
              CreativeName: CreativeName
            AdGroupName: AdGroupName
            AdGroupId: AdGroupId
          - Availability: Available
            Description: Description
            IsEnabled: true
            Creatives:
            - Description: Description
              CreativeId: CreativeId
              CreativeName: CreativeName
            - Description: Description
              CreativeId: CreativeId
              CreativeName: CreativeName
            AdGroupName: AdGroupName
            AdGroupId: AdGroupId
          StartDateUTC: 2000-01-23T04:56:07.000+00:00
        - Availability: Available
          Description: Description
          EndDateUTC: 2000-01-23T04:56:07.000+00:00
          CampaignId: CampaignId
          CampaignName: CampaignName
          AdGroups:
          - Availability: Available
            Description: Description
            IsEnabled: true
            Creatives:
            - Description: Description
              CreativeId: CreativeId
              CreativeName: CreativeName
            - Description: Description
              CreativeId: CreativeId
              CreativeName: CreativeName
            AdGroupName: AdGroupName
            AdGroupId: AdGroupId
          - Availability: Available
            Description: Description
            IsEnabled: true
            Creatives:
            - Description: Description
              CreativeId: CreativeId
              CreativeName: CreativeName
            - Description: Description
              CreativeId: CreativeId
              CreativeName: CreativeName
            AdGroupName: AdGroupName
            AdGroupId: AdGroupId
          StartDateUTC: 2000-01-23T04:56:07.000+00:00
        Creatives:
        - null
        - null
    AdvertiserRequest:
      required:
      - AdvertiserName
      - AttributionClickLookbackWindowInSeconds
      - AttributionImpressionLookbackWindowInSeconds
      - ClickDedupWindowInSeconds
      - ConversionDedupWindowInSeconds
      - DefaultRightMediaOfferTypeId
      - DomainAddress
      - PartnerId
      type: object
      properties:
        AdvertiserName:
          maxLength: 64
          type: string
          description: The name of the advertiser.
          example: Sample Advertiser
        AttributionClickLookbackWindowInSeconds:
          type: integer
          description: Time window for click attribution in seconds.
          format: int32
          example: 3600
        AttributionImpressionLookbackWindowInSeconds:
          type: integer
          description: Time window for impression attribution in seconds.
          format: int32
          example: 3600
        ClickDedupWindowInSeconds:
          type: integer
          description: Window for de-duplicating similar clicks.
          format: int32
          example: 0
        ConversionDedupWindowInSeconds:
          type: integer
          description: Window for de-duplicating similar conversions.
          format: int32
          example: 0
        DefaultRightMediaOfferTypeId:
          type: integer
          description: Default Right Media Offer Type ID.
          format: int64
          example: 12345
        DomainAddress:
          maxLength: 256
          type: string
          description: The domain address for the advertiser.
          example: https://www.advertiser.com
        PartnerId:
          type: string
          description: The ID of the partner who owns this advertiser.
          example: partner_123
    AdvertiserResponse:
      type: object
      properties:
        AdvertiserId:
          type: string
          description: The platform ID of the created advertiser.
          example: advertiser_12345
      example:
        AdvertiserId: advertiser_12345
    AdvertiserDetailsResponse:
      type: object
      properties:
        AdvertiserId:
          type: string
          description: The platform ID of the advertiser.
          example: advertiser_12345
        AdvertiserName:
          maxLength: 64
          type: string
          description: The name of the advertiser.
          example: Sample Advertiser
        AttributionClickLookbackWindowInSeconds:
          type: integer
          description: Time window for click attribution in seconds.
          format: int32
          example: 3600
        AttributionImpressionLookbackWindowInSeconds:
          type: integer
          description: Time window for impression attribution in seconds.
          format: int32
          example: 3600
        ClickDedupWindowInSeconds:
          type: integer
          description: Window for de-duplicating similar clicks.
          format: int32
          example: 0
        ConversionDedupWindowInSeconds:
          type: integer
          description: Window for de-duplicating similar conversions.
          format: int32
          example: 0
        DefaultRightMediaOfferTypeId:
          type: integer
          description: Default Right Media Offer Type ID.
          format: int64
          example: 12345
        DomainAddress:
          maxLength: 256
          type: string
          description: The domain address for the advertiser.
          example: https://www.advertiser.com
        PartnerId:
          type: string
          description: The ID of the partner who owns this advertiser.
          example: partner_123
      example:
        AdvertiserId: advertiser_12345
        AttributionClickLookbackWindowInSeconds: 3600
        AttributionImpressionLookbackWindowInSeconds: 3600
        ClickDedupWindowInSeconds: 0
        AdvertiserName: Sample Advertiser
        ConversionDedupWindowInSeconds: 0
        PartnerId: partner_123
        DomainAddress: https://www.advertiser.com
        DefaultRightMediaOfferTypeId: 12345
    BidListRequest:
      required:
      - BidLines
      - BidListAdjustmentType
      - Name
      type: object
      properties:
        BidLines:
          type: array
          description: The list of BidLines that will be used along with the ResolutionType
            to calculate the adjustment for this BidList.
          items:
            $ref: '#/components/schemas/BidListRequest_BidLines'
        ResolutionType:
          type: string
          description: The ResolutionType determines how BidAdjustments are handled
            when an impression matches multiple BidLines.
          enum:
          - ApplyMinimumAdjustment
          - ApplyAverageAdjustment
          - ApplyMaximumAdjustment
          - ApplyMultiplyAdjustment
        BidListAdjustmentType:
          type: string
          description: "Defines how bid adjustments are applied (e.g., BlockList,\
            \ TargetList, Optimized)."
          enum:
          - BlockList
          - TargetList
          - Optimized
        BidListOwner:
          type: string
          description: "The type of owner that controls this bid list (e.g., AdGroup,\
            \ Campaign, Advertiser)."
        Name:
          type: string
          description: A name for the bid list.
      example:
        BidLines:
        - AdFormatId: AdFormatId
          AdBugPageQualityCategoryId: AdBugPageQualityCategoryId
          DomainFragment: DomainFragment
          BidAdjustment: 0.80082819046101150206595775671303272247314453125
        - AdFormatId: AdFormatId
          AdBugPageQualityCategoryId: AdBugPageQualityCategoryId
          DomainFragment: DomainFragment
          BidAdjustment: 0.80082819046101150206595775671303272247314453125
        BidListAdjustmentType: BlockList
        ResolutionType: ApplyMinimumAdjustment
        BidListOwner: BidListOwner
        Name: Name
    CampaignRequest:
      required:
      - AdvertiserId
      - Budget
      - CampaignName
      - StartDate
      type: object
      properties:
        AdvertiserId:
          type: string
          description: The platform ID of the advertiser that owns this campaign.
          example: advertiser_12345
        CampaignName:
          maxLength: 256
          type: string
          description: The name of the campaign.
          example: My New Campaign
        Budget:
          $ref: '#/components/schemas/CampaignRequest_Budget'
        StartDate:
          type: string
          description: The start date and time in UTC when the campaign should begin
            spending.
          format: date-time
          example: 2024-01-01T00:00:00Z
        EndDate:
          type: string
          description: The end date and time in UTC when the campaign should stop
            spending.
          format: date-time
          example: 2024-12-31T23:59:59Z
        PrimaryGoal:
          $ref: '#/components/schemas/CampaignRequest_PrimaryGoal'
        TrackingTags:
          type: array
          description: List of tracking tags associated with the campaign.
          items:
            type: string
            description: Tracking tag ID
    CampaignResponse:
      type: object
      properties:
        CampaignId:
          type: string
          description: The ID of the created campaign.
          example: campaign_12345
        AdvertiserId:
          type: string
          description: The platform ID of the advertiser that owns the campaign.
          example: advertiser_12345
        CampaignName:
          type: string
          description: The name of the campaign.
          example: My New Campaign
        Budget:
          $ref: '#/components/schemas/CampaignRequest_Budget'
        StartDate:
          type: string
          description: The start date and time in UTC when the campaign should begin
            spending.
          format: date-time
          example: 2024-01-01T00:00:00Z
        EndDate:
          type: string
          description: The end date and time in UTC when the campaign should stop
            spending.
          format: date-time
          example: 2024-12-31T23:59:59Z
      example:
        StartDate: 2024-01-01T00:00:00Z
        AdvertiserId: advertiser_12345
        CampaignId: campaign_12345
        CampaignName: My New Campaign
        Budget:
          CurrencyCode: USD
          Amount: 10000
        EndDate: 2024-12-31T23:59:59Z
    CampaignMetricsResponse:
      type: object
      properties:
        CampaignFlightId:
          type: integer
          description: ID of the campaign's current flight
          format: int64
        CampaignId:
          type: string
          description: ID of the campaign
        GoalInfo:
          $ref: '#/components/schemas/CampaignMetricsResponse_GoalInfo'
        CurrentSpendInAdvertiserCurrency:
          type: number
          description: The amount of the budget already spent
          format: double
        FlightBudgetInAdvertiserCurrency:
          type: number
          description: The budget of the active flight
          format: double
        ProjectedSpendInAdvertiserCurrency:
          type: number
          description: Projected spend that was calculated so far
          format: double
      example:
        GoalInfo:
          Impressions: 2
          CPCInAdvertiserCurrency: null
          CPAInAdvertiserCurrency:
            CurrencyCode: CurrencyCode
            Target: 1.46581298050294517310021547018550336360931396484375
            Amount: 6.02745618307040320615897144307382404804229736328125
          CTRInPercent:
            Target: 5.63737665663332876420099637471139430999755859375
            Amount: 5.962133916683182377482808078639209270477294921875
          LastCalculatedAt: 2000-01-23T04:56:07.000+00:00
        FlightBudgetInAdvertiserCurrency: 9.301444243932575517419536481611430644989013671875
        CurrentSpendInAdvertiserCurrency: 7.061401241503109105224211816675961017608642578125
        CampaignFlightId: 0
        CampaignId: CampaignId
        ProjectedSpendInAdvertiserCurrency: 3.61607674925191080461672754609026014804840087890625
    CreativeRequest:
      required:
      - AdvertiserId
      - ClickthroughUrl
      - CreativeName
      type: object
      properties:
        AdvertiserId:
          type: string
          description: The platform ID of the advertiser that owns this creative.
          example: advertiser_12345
        CreativeName:
          type: string
          description: The name of the creative. The value must not contain special
            characters like <>;^\r\n. Max length is 256.
          example: Sample Creative
        Availability:
          type: string
          description: Indicates if the Creative is 'Available' for use or 'Archived'.
            'Archived' creatives are hidden and associations removed.
          enum:
          - Available
          - Archived
        Description:
          type: string
          description: An optional description of the creative. Max length is 512.
          example: This is a test creative.
        ClickthroughUrl:
          type: string
          description: The URL to invoke when the user clicks the ad. This may include
            click tracking. Max length is 5000.
          example: https://www.example.com
      example:
        Availability: Available
        AdvertiserId: advertiser_12345
        Description: This is a test creative.
        ClickthroughUrl: https://www.example.com
        CreativeName: Sample Creative
    FrequencyConfigRequest:
      type: object
      properties:
        BidLists:
          type: array
          description: "Bid lists apply frequency settings to ad groups, campaigns,\
            \ and other entities."
          items:
            $ref: '#/components/schemas/FrequencyConfigRequest_BidLists'
        Counter:
          $ref: '#/components/schemas/FrequencyConfigRequest_Counter'
    TrackingTagResponse:
      type: object
      properties:
        AdvertiserId:
          type: string
          description: The platform ID of the advertiser that owns this tracking tag.
        ContainerTagBody:
          type: string
          description: Additional HTML to be inserted in the IFrame version of the
            tracking tag. Use this to add additional pixels that will be invoked when
            this tag is hit.
          nullable: true
        Currency:
          maxLength: 3
          type: string
          description: The units of currency of the Revenue property. Supports any
            value and is used for conversion reporting.
        DataEventTypeId:
          type: string
          description: "The ID associated with an event, such as AddToCart, Purchase,\
            \ or ViewItem."
          nullable: true
        FirstPartyDataId:
          type: integer
          description: The first-party data ID for this tracking tag. Used in data
            groups to target collected data.
          format: int64
        HitCount7Day:
          type: integer
          description: Number of hits received in the past 7 days.
          format: int64
        HouseholdEnabled:
          type: boolean
          description: Indicates whether household targeting is enabled for this tracking
            tag.
        IFrameTag:
          type: string
          description: The IFrame tag.
          nullable: true
        ImageTag:
          type: string
          description: The image tag.
          nullable: true
        OfflineDataProviderId:
          maxLength: 32
          type: string
          description: The name of the offline data provider if this is an offline
            attribution tracking tag.
        Revenue:
          type: string
          description: The amount of revenue a single hit to this tag generates. Can
            be a macro for dynamic contexts.
          nullable: true
        TagRedirectUri:
          type: string
          description: The tag redirect URI.
          nullable: true
        TrackingTagAvailability:
          type: string
          description: The availability of the TrackingTag.
          enum:
          - Available
          - Archived
        TrackingTagCategory:
          type: string
          description: The category of the TrackingTag.
          enum:
          - StaticTag
          - AppEventTrackerTag
          - UniversalPixelTag
          - OfflineTag
        TrackingTagId:
          type: string
          description: The ID of the tracking tag. Ignored on creation; assigned by
            the system.
        TrackingTagLocation:
          type: string
          description: The location where this tracking tag will be deployed.
          nullable: true
        TrackingTagName:
          maxLength: 256
          type: string
          description: The name of the tracking tag.
        TrackingTagType:
          type: string
          description: The type of the tracking tag.
          enum:
          - Impression
          - Retargeting
          - Conversion
        UniversalPixelName:
          type: string
          description: The name of the universal pixel associated with this tracking
            tag.
          nullable: true
      example:
        HitCount7Day: 6
        DataEventTypeId: DataEventTypeId
        ImageTag: ImageTag
        TrackingTagId: TrackingTagId
        IFrameTag: IFrameTag
        TagRedirectUri: TagRedirectUri
        TrackingTagType: Impression
        FirstPartyDataId: 0
        TrackingTagAvailability: Available
        UniversalPixelName: UniversalPixelName
        OfflineDataProviderId: OfflineDataProviderId
        TrackingTagLocation: TrackingTagLocation
        AdvertiserId: AdvertiserId
        ContainerTagBody: ContainerTagBody
        Currency: Currency
        HouseholdEnabled: true
        Revenue: Revenue
        TrackingTagCategory: StaticTag
        TrackingTagName: TrackingTagName
    FirstPartyAdvertiserRequest:
      required:
      - AdvertiserId
      - PageSize
      - PageStartIndex
      type: object
      properties:
        AdvertiserId:
          type: string
          description: The platform ID of the advertiser making the query.
          example: advertiser_12345
        PageSize:
          type: integer
          description: The number of results to return per page.
          format: int32
          example: 100
        PageStartIndex:
          type: integer
          description: The index at which to start the page of results.
          format: int32
          example: 0
        DataTypes:
          type: array
          description: The types of First Party Data to return.
          items:
            type: string
            enum:
            - Keyword
            - TrackingTag
            - IPAddressRange
            - ImportedAdvertiserData
            - ImportedAdvertiserDataWithBaseBid
            - HouseholdExtension
            - ClickRetargeting
            - DirectIPTargeting
            - PlayerEventStart
            - PlayerEventMidpoint
            - PlayerEventComplete
            - ThirdPartyImpression
            - FixedPriceUser
            - CrmData
        LookAlikeModelBuildStatuses:
          type: array
          nullable: true
          items:
            type: string
            enum:
            - NotRequested
            - Queued
            - Built
        LookAlikeModelEligibilities:
          type: array
          nullable: true
          items:
            type: string
            enum:
            - Eligible
            - NotEligible
        LookAlikeModelResultStatuses:
          type: array
          nullable: true
          items:
            type: string
            enum:
            - NoResults
            - Ready
        SearchTerms:
          type: array
          nullable: true
          items:
            type: string
        SortFields:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/FirstPartyAdvertiserRequest_SortFields'
        UniqueCountMaximum:
          type: integer
          nullable: true
        UniqueCountMinimum:
          type: integer
          nullable: true
    FirstPartyAdvertiserResponse:
      type: object
      properties:
        Result:
          type: array
          items:
            $ref: '#/components/schemas/FirstPartyAdvertiserResponse_Result'
        ResultCount:
          type: integer
          format: int64
        TotalFilteredCount:
          type: integer
          format: int64
        TotalUnfilteredCount:
          type: integer
          format: int64
      example:
        TotalUnfilteredCount: 7
        ResultCount: 5
        TotalFilteredCount: 2
        Result:
        - ActiveIDsCountExpanded: true
          LookAlikeModelDetails:
            LookAlikeModelResultStatus: NoResults
            LookAlikeModelEligibility: Eligible
            LastRequestDateUTC: 2000-01-23T04:56:07.000+00:00
            LookAlikeModelBuildStatus: NotRequested
            LastGenerationDateUTC: 2000-01-23T04:56:07.000+00:00
          ActivePersonsCount: 5
          ActiveHouseholdCount: 0
          DataType: Keyword
          ActiveIDsCount: 6
          FirstPartyDataId: 1
          Name: Name
        - ActiveIDsCountExpanded: true
          LookAlikeModelDetails:
            LookAlikeModelResultStatus: NoResults
            LookAlikeModelEligibility: Eligible
            LastRequestDateUTC: 2000-01-23T04:56:07.000+00:00
            LookAlikeModelBuildStatus: NotRequested
            LastGenerationDateUTC: 2000-01-23T04:56:07.000+00:00
          ActivePersonsCount: 5
          ActiveHouseholdCount: 0
          DataType: Keyword
          ActiveIDsCount: 6
          FirstPartyDataId: 1
          Name: Name
    SellerQueryRequest:
      required:
      - PageSize
      - PageStartIndex
      type: object
      properties:
        PageSize:
          type: integer
          description: "The size of the page requested. If there are fewer items on\
            \ the current page than the PageSize, only those items will be returned.\
            \ The minimum value is 25 and the maximum is 100."
          format: int32
        PageStartIndex:
          type: integer
          description: The zero-based index at which to start the page of results.
          format: int32
        IncludedSellerDomains:
          type: array
          description: Filter to a seller whose SellerDomain matches the value passed
            for this property.
          nullable: true
          items:
            type: string
        SellerNameFilters:
          type: array
          description: Filter to a seller whose SellerName contains the value passed
            for this property.
          nullable: true
          items:
            type: string
        SellerStatusFilter:
          type: string
          description: Filter to sellers whose SellerStatus matches the value specified.
            Defaults to Allowed.
          enum:
          - Allowed
          - Disallowed
        SortFields:
          type: array
          description: "Optionally, specify fields to sort the results by."
          nullable: true
          items:
            $ref: '#/components/schemas/SellerQueryRequest_SortFields'
    SellerQueryResponse:
      type: object
      properties:
        Result:
          type: array
          items:
            $ref: '#/components/schemas/SellerQueryResponse_Result'
        ResultCount:
          type: integer
          description: The number of objects returned in the result.
          format: int64
        TotalFilteredCount:
          type: integer
          description: The total number of objects available that match the request
            filters.
          format: int64
        TotalUnfilteredCount:
          type: integer
          description: The total number of objects available.
          format: int64
      example:
        TotalUnfilteredCount: 1
        ResultCount: 0
        TotalFilteredCount: 6
        Result:
        - SellerDomain: SellerDomain
          AliasToSellerDomain: AliasToSellerDomain
          IsTargetable: true
          SellerStatus: Allowed
          SellerName: SellerName
          SellerDomainAliases:
          - SellerDomainAliases
          - SellerDomainAliases
        - SellerDomain: SellerDomain
          AliasToSellerDomain: AliasToSellerDomain
          IsTargetable: true
          SellerStatus: Allowed
          SellerName: SellerName
          SellerDomainAliases:
          - SellerDomainAliases
          - SellerDomainAliases
    IPTargetingRange:
      required:
      - MaxIP
      - MinIP
      type: object
      properties:
        MinIP:
          type: string
          description: The minimum IP address in the targeting range (inclusive).
          example: 5.5.5.5
        MaxIP:
          type: string
          description: The maximum IP address in the targeting range (inclusive).
          example: 5.6.0.0
    IPTargetingListRequest:
      required:
      - AdvertiserId
      - IPTargetingDataName
      - IPTargetingRanges
      type: object
      properties:
        AdvertiserId:
          type: string
          description: The platform ID of the advertiser that owns this IP Targeting
            List.
          example: advertiser_12345
        IPTargetingDataName:
          type: string
          description: The name of the Data Element to create for users who are in
            the associated IP targeting ranges.
          example: My New IP Targeting List
        IPTargetingRanges:
          type: array
          description: All the IP targeting ranges in this list.
          items:
            $ref: '#/components/schemas/IPTargetingRange'
    IPTargetingListResponse:
      type: object
      properties:
        AdvertiserId:
          type: string
          description: The platform ID of the advertiser that owns this IP Targeting
            List.
          example: advertiser_12345
        IPTargetingDataName:
          type: string
          description: The name of the Data Element to create for users who are in
            the associated IP targeting ranges.
          example: My New IP Targeting List
        IPTargetingListId:
          type: string
          description: The ID of this IP Targeting List.
          example: ip_targeting_list_123
        IPTargetingRangesCount:
          type: integer
          description: The total number of IP targeting ranges currently used by the
            IP Targeting List.
          format: int64
          example: 5
      example:
        IPTargetingDataName: My New IP Targeting List
        AdvertiserId: advertiser_12345
        IPTargetingRangesCount: 5
        IPTargetingListId: ip_targeting_list_123
    ReportScheduleResponse:
      type: object
      properties:
        ReportScheduleId:
          type: integer
          description: The ID of the Report Schedule.
          format: int64
          example: 12345
        ReportScheduleName:
          maxLength: 256
          type: string
          description: The name of the Report Schedule.
          example: My Weekly Performance Report
        AdvertiserFilters:
          type: array
          description: The list of advertisers on which to filter the report.
          items:
            type: string
        CampaignFilters:
          type: array
          description: The list of campaigns on which to filter the report.
          items:
            type: string
        AdGroupFilters:
          type: array
          description: The list of ad groups on which to filter the report.
          items:
            type: string
        PartnerFilters:
          type: array
          description: The list of partners on which to filter the report.
          items:
            type: string
        ReportDateRange:
          type: string
          description: The date range for the report schedule.
          example: Last7Days
          enum:
          - LastXDays
          - Custom
          - Yesterday
          - Last7Days
          - Last14Days
          - Last30Days
          - MonthToDate
          - QuarterToDate
          - YearToDate
          - LastMonth
          - LastQuarter
          - Last3Months
          - CampaignToDate
        ReportStartDateInclusive:
          type: string
          description: The start of the date range for the report.
          format: date-time
          nullable: true
        ReportEndDateExclusive:
          type: string
          description: The end of the date range for the report (exclusive).
          format: date-time
          nullable: true
        ReportFrequency:
          type: string
          description: The frequency of the report schedule.
          example: Weekly
          enum:
          - Once
          - Daily
          - Weekly
          - Monthly
          - Quarterly
        ReportFileFormat:
          type: string
          description: The file format for the report.
          example: CSV
          enum:
          - TSV
          - CSV
          - ExcelPivot
        EmailAddresses:
          type: array
          description: The list of email addresses that will receive the report.
          items:
            type: string
        TimeZone:
          type: string
          description: The Olson timezone of the Report Schedule.
          example: UTC
        IsCompleted:
          type: boolean
          description: Indicates whether the report schedule has completed.
        CreationDateUtc:
          type: string
          description: The UTC creation date of the Report Schedule.
          format: date-time
      example:
        AdvertiserFilters:
        - AdvertiserFilters
        - AdvertiserFilters
        ReportDateRange: Last7Days
        IsCompleted: true
        CreationDateUtc: 2000-01-23T04:56:07.000+00:00
        ReportFrequency: Weekly
        ReportEndDateExclusive: 2000-01-23T04:56:07.000+00:00
        ReportStartDateInclusive: 2000-01-23T04:56:07.000+00:00
        TimeZone: UTC
        ReportScheduleName: My Weekly Performance Report
        CampaignFilters:
        - CampaignFilters
        - CampaignFilters
        AdGroupFilters:
        - AdGroupFilters
        - AdGroupFilters
        ReportFileFormat: CSV
        ReportScheduleId: 12345
        EmailAddresses:
        - EmailAddresses
        - EmailAddresses
        PartnerFilters:
        - PartnerFilters
        - PartnerFilters
    UniversalForecastingRequest:
      required:
      - AdvertiserId
      - GenerateBudgetPoints
      type: object
      properties:
        AdvertiserId:
          type: string
          description: The platform ID of the advertiser requesting the forecast.
          example: advertiser_12345
        AudienceId:
          type: string
          description: The ID for the audience to be used in the forecast.
          nullable: true
        AverageBidCPMInAdvertiserCurrency:
          type: number
          description: The average bid in the advertiser's currency to be used for
            the forecast.
          format: double
        Demographic:
          $ref: '#/components/schemas/UniversalForecastingRequest_Demographic'
        ExistingBidLists:
          type: array
          description: Existing bid lists to be applied to the forecast.
          nullable: true
          items:
            type: integer
            format: int64
        ForecastingAudiences:
          type: array
          items:
            $ref: '#/components/schemas/UniversalForecastingRequest_ForecastingAudiences'
        GenerateBudgetPoints:
          type: boolean
          description: Set to true to generate budget points for impressions and reach.
        TimeWindow:
          type: integer
          description: The number of days (1 to 180) for the forecast.
          format: int32
        UniversalForecastingBidLists:
          type: array
          description: New bid lists to be applied to the forecast.
          nullable: true
          items:
            $ref: '#/components/schemas/UniversalForecastingRequest_UniversalForecastingBidLists'
    inline_response_200:
      type: object
      properties:
        MetricResults:
          type: array
          items:
            $ref: '#/components/schemas/inline_response_200_MetricResults'
      example:
        MetricResults:
        - RangeEnd: 6.02745618307040320615897144307382404804229736328125
          InsightMetricType: Impressions
          RangeStart: 0.80082819046101150206595775671303272247314453125
        - RangeEnd: 6.02745618307040320615897144307382404804229736328125
          InsightMetricType: Impressions
          RangeStart: 0.80082819046101150206595775671303272247314453125
    AdGroupRequest_BudgetSettings:
      required:
      - BudgetInAdvertiserCurrency
      type: object
      properties:
        BudgetInAdvertiserCurrency:
          type: number
          description: The total amount the Ad Group may spend in the advertiser's
            currency.
          format: double
        DailyTargetInAdvertiserCurrency:
          type: number
          description: The daily spending limit for the Ad Group.
          format: double
      description: Settings for how much and how fast the Ad Group may spend.
    AdvertiserOverviewResponse_Creatives:
      type: object
      properties:
        CreativeId:
          type: string
          description: The ID of the creative.
        CreativeName:
          type: string
          description: The name of the creative.
        Description:
          type: string
          description: The description of the creative.
          nullable: true
      example:
        Description: Description
        CreativeId: CreativeId
        CreativeName: CreativeName
    AdvertiserOverviewResponse_AdGroups:
      type: object
      properties:
        AdGroupId:
          type: string
          description: The ID of the ad group.
        AdGroupName:
          type: string
          description: The name of the ad group.
        Description:
          type: string
          description: The description of the ad group.
          nullable: true
        IsEnabled:
          type: boolean
          description: Whether the ad group is enabled to spend.
        Availability:
          type: string
          description: The availability state of the ad group.
          enum:
          - Available
          - Archived
        Creatives:
          type: array
          items:
            $ref: '#/components/schemas/AdvertiserOverviewResponse_Creatives'
      example:
        Availability: Available
        Description: Description
        IsEnabled: true
        Creatives:
        - Description: Description
          CreativeId: CreativeId
          CreativeName: CreativeName
        - Description: Description
          CreativeId: CreativeId
          CreativeName: CreativeName
        AdGroupName: AdGroupName
        AdGroupId: AdGroupId
    AdvertiserOverviewResponse_Campaigns:
      type: object
      properties:
        CampaignId:
          type: string
          description: The ID of the campaign.
        CampaignName:
          type: string
          description: The name of the campaign.
        Description:
          type: string
          description: The description of the campaign.
          nullable: true
        StartDateUTC:
          type: string
          description: The date and time (in UTC) that the campaign should start spending.
          format: date-time
        EndDateUTC:
          type: string
          description: The date and time (in UTC) that the campaign should stop spending.
          format: date-time
          nullable: true
        Availability:
          type: string
          description: The availability state of the campaign.
          enum:
          - Available
          - Archived
        AdGroups:
          type: array
          items:
            $ref: '#/components/schemas/AdvertiserOverviewResponse_AdGroups'
      example:
        Availability: Available
        Description: Description
        EndDateUTC: 2000-01-23T04:56:07.000+00:00
        CampaignId: CampaignId
        CampaignName: CampaignName
        AdGroups:
        - Availability: Available
          Description: Description
          IsEnabled: true
          Creatives:
          - Description: Description
            CreativeId: CreativeId
            CreativeName: CreativeName
          - Description: Description
            CreativeId: CreativeId
            CreativeName: CreativeName
          AdGroupName: AdGroupName
          AdGroupId: AdGroupId
        - Availability: Available
          Description: Description
          IsEnabled: true
          Creatives:
          - Description: Description
            CreativeId: CreativeId
            CreativeName: CreativeName
          - Description: Description
            CreativeId: CreativeId
            CreativeName: CreativeName
          AdGroupName: AdGroupName
          AdGroupId: AdGroupId
        StartDateUTC: 2000-01-23T04:56:07.000+00:00
    BidListRequest_BidLines:
      required:
      - BidAdjustment
      - DomainFragment
      type: object
      properties:
        AdBugPageQualityCategoryId:
          type: string
          description: The ID of the AdBug Page Quality category to target.
        AdFormatId:
          type: string
          description: The Ad Format to be used for this bid line adjustment.
        BidAdjustment:
          type: number
          description: The adjustment to be applied when everything in this BidLine
            is matched.
          format: double
        DomainFragment:
          type: string
          description: The domain or app ID to match for this adjustment.
      example:
        AdFormatId: AdFormatId
        AdBugPageQualityCategoryId: AdBugPageQualityCategoryId
        DomainFragment: DomainFragment
        BidAdjustment: 0.80082819046101150206595775671303272247314453125
    CampaignRequest_Budget:
      type: object
      properties:
        Amount:
          type: number
          description: The maximum amount the campaign may spend.
          example: 10000
        CurrencyCode:
          type: string
          description: The currency of the money value specified in the Amount.
          example: USD
      example:
        CurrencyCode: USD
        Amount: 10000
    CampaignRequest_PrimaryGoal:
      type: object
      properties:
        GoalType:
          type: string
          description: The campaign's primary goal.
          example: Conversion
          enum:
          - Awareness
          - Consideration
          - Conversion
        Amount:
          type: number
          description: The money amount associated with the primary goal.
          example: 5
        CurrencyCode:
          type: string
          description: The currency code for the primary goal amount.
          example: USD
    CampaignMetricsResponse_GoalInfo_CPAInAdvertiserCurrency:
      type: object
      properties:
        Amount:
          type: number
          description: The calculated amount of money for the metric
          format: double
        CurrencyCode:
          type: string
          description: The currency code of the amount
        Target:
          type: number
          description: The target amount for the metric
          format: double
      example:
        CurrencyCode: CurrencyCode
        Target: 1.46581298050294517310021547018550336360931396484375
        Amount: 6.02745618307040320615897144307382404804229736328125
    CampaignMetricsResponse_GoalInfo_CTRInPercent:
      type: object
      properties:
        Amount:
          type: number
          description: The average click-through rate in percent
          format: double
        Target:
          type: number
          description: The target for this goal
          format: double
      example:
        Target: 5.63737665663332876420099637471139430999755859375
        Amount: 5.962133916683182377482808078639209270477294921875
    CampaignMetricsResponse_GoalInfo:
      type: object
      properties:
        CPAInAdvertiserCurrency:
          $ref: '#/components/schemas/CampaignMetricsResponse_GoalInfo_CPAInAdvertiserCurrency'
        CPCInAdvertiserCurrency:
          $ref: '#/components/schemas/CampaignMetricsResponse_GoalInfo_CPAInAdvertiserCurrency'
        CTRInPercent:
          $ref: '#/components/schemas/CampaignMetricsResponse_GoalInfo_CTRInPercent'
        Impressions:
          type: integer
          description: Total number of impressions
          format: int64
        LastCalculatedAt:
          type: string
          description: The last time the goals were calculated
          format: date-time
      example:
        Impressions: 2
        CPCInAdvertiserCurrency: null
        CPAInAdvertiserCurrency:
          CurrencyCode: CurrencyCode
          Target: 1.46581298050294517310021547018550336360931396484375
          Amount: 6.02745618307040320615897144307382404804229736328125
        CTRInPercent:
          Target: 5.63737665663332876420099637471139430999755859375
          Amount: 5.962133916683182377482808078639209270477294921875
        LastCalculatedAt: 2000-01-23T04:56:07.000+00:00
    FrequencyConfigRequest_Range:
      type: object
      properties:
        Min:
          type: integer
          format: int32
        Max:
          type: integer
          format: int32
      description: The minimum and maximum number of times an ad can be served within
        the counter reset interval.
    FrequencyConfigRequest_BidLines:
      required:
      - BidAdjustment
      - Range
      type: object
      properties:
        Range:
          $ref: '#/components/schemas/FrequencyConfigRequest_Range'
        BidAdjustment:
          type: number
          format: double
    FrequencyConfigRequest_BidLists:
      type: object
      properties:
        BidLines:
          type: array
          description: A list of frequency bid lines that are used to calculate the
            adjustment.
          items:
            $ref: '#/components/schemas/FrequencyConfigRequest_BidLines'
        VolumeControlPriority:
          type: string
          description: The volume control priority applied to the adjustment.
          enum:
          - Neutral
          - One
          - Two
          - FrequencyGoal
          - Negative
        AssociatedAdGroups:
          type: array
          description: A list of IDs of ad groups where the bid list is associated
            and enabled.
          items:
            type: string
        AssociatedAdvertisers:
          type: array
          description: A list of IDs of advertisers where the bid list is associated
            and enabled.
          items:
            type: string
        AssociatedCampaigns:
          type: array
          description: A list of IDs of campaigns where the bid list is associated
            and enabled.
          items:
            type: string
    FrequencyConfigRequest_Counter:
      required:
      - CounterName
      - ResetIntervalInMinutes
      type: object
      properties:
        CounterName:
          type: string
          description: The counter name.
        ResetIntervalInMinutes:
          type: integer
          description: The time interval (in minutes) during which the counter tracks
            a user's frequency count.
          format: int32
        IncrementByAllEntitiesAssociatedWithBidLists:
          type: boolean
          description: "If true, ad groups, campaigns, and advertisers will be used\
            \ as increments for this configuration."
      description: Defines the frequency counter framework for tracking the number
        of times an ad is served.
    FirstPartyAdvertiserRequest_SortFields:
      type: object
      properties:
        FieldId:
          type: string
          enum:
          - Name
          - DataType
          - Uniques
        Ascending:
          type: boolean
          default: true
    FirstPartyAdvertiserResponse_LookAlikeModelDetails:
      type: object
      properties:
        LastGenerationDateUTC:
          type: string
          format: date-time
          nullable: true
        LastRequestDateUTC:
          type: string
          format: date-time
        LookAlikeModelBuildStatus:
          type: string
          enum:
          - NotRequested
          - Queued
          - Built
        LookAlikeModelResultStatus:
          type: string
          enum:
          - NoResults
          - Ready
        LookAlikeModelEligibility:
          type: string
          enum:
          - Eligible
          - NotEligible
      example:
        LookAlikeModelResultStatus: NoResults
        LookAlikeModelEligibility: Eligible
        LastRequestDateUTC: 2000-01-23T04:56:07.000+00:00
        LookAlikeModelBuildStatus: NotRequested
        LastGenerationDateUTC: 2000-01-23T04:56:07.000+00:00
    FirstPartyAdvertiserResponse_Result:
      type: object
      properties:
        ActiveHouseholdCount:
          type: integer
          format: int64
        ActiveIDsCount:
          type: integer
          format: int64
        ActiveIDsCountExpanded:
          type: boolean
          nullable: true
        DataType:
          type: string
          enum:
          - Keyword
          - TrackingTag
          - IPAddressRange
          - ImportedAdvertiserData
          - ImportedAdvertiserDataWithBaseBid
          - HouseholdExtension
          - ClickRetargeting
          - DirectIPTargeting
          - PlayerEventStart
          - PlayerEventMidpoint
          - PlayerEventComplete
          - ThirdPartyImpression
          - FixedPriceUser
          - CrmData
        FirstPartyDataId:
          type: integer
          format: int64
        LookAlikeModelDetails:
          $ref: '#/components/schemas/FirstPartyAdvertiserResponse_LookAlikeModelDetails'
        Name:
          type: string
          nullable: true
        ActivePersonsCount:
          type: integer
          format: int64
      example:
        ActiveIDsCountExpanded: true
        LookAlikeModelDetails:
          LookAlikeModelResultStatus: NoResults
          LookAlikeModelEligibility: Eligible
          LastRequestDateUTC: 2000-01-23T04:56:07.000+00:00
          LookAlikeModelBuildStatus: NotRequested
          LastGenerationDateUTC: 2000-01-23T04:56:07.000+00:00
        ActivePersonsCount: 5
        ActiveHouseholdCount: 0
        DataType: Keyword
        ActiveIDsCount: 6
        FirstPartyDataId: 1
        Name: Name
    SellerQueryRequest_SortFields:
      type: object
      properties:
        FieldId:
          type: string
          description: The field ID by which to sort.
          enum:
          - SellerName
          - SellerDomain
        Ascending:
          type: boolean
          description: Whether to sort this field in ascending order (true) or descending
            order (false). Defaults to true.
    SellerQueryResponse_Result:
      type: object
      properties:
        AliasToSellerDomain:
          type: string
          description: "If this domain is an alias to another seller, the root-level\
            \ seller domain will be returned here."
          nullable: true
        IsTargetable:
          type: boolean
          description: Indicates whether this seller can be targeted in bid lines
            of a bid list.
        SellerDomain:
          type: string
          description: The domain of the seller.
          nullable: true
        SellerDomainAliases:
          type: array
          description: A list of domains that are listed as aliases for this SellerDomain.
          nullable: true
          items:
            type: string
        SellerName:
          type: string
          description: The name of the seller.
          nullable: true
        SellerStatus:
          type: string
          description: The status indicating whether the seller is allowed to sell
            on our platform.
          enum:
          - Allowed
          - Disallowed
      example:
        SellerDomain: SellerDomain
        AliasToSellerDomain: AliasToSellerDomain
        IsTargetable: true
        SellerStatus: Allowed
        SellerName: SellerName
        SellerDomainAliases:
        - SellerDomainAliases
        - SellerDomainAliases
    UniversalForecastingRequest_Demographic:
      type: object
      properties:
        StartAge:
          type: string
          description: The minimum age to be targeted.
          nullable: true
        EndAge:
          type: string
          description: The maximum age to be targeted.
          nullable: true
        Gender:
          type: string
          description: The gender to be targeted.
          nullable: true
      nullable: true
    UniversalForecastingRequest_IncludedDataGroups:
      type: object
      properties:
        AdvertiserId:
          type: string
        DataGroupName:
          maxLength: 64
          type: string
    UniversalForecastingRequest_ForecastingAudiences:
      type: object
      properties:
        AdvertiserId:
          type: string
          description: The platform ID of the advertiser that owns this Audience.
        AudienceName:
          maxLength: 64
          type: string
          description: The name of the audience.
        IncludedDataGroups:
          type: array
          items:
            $ref: '#/components/schemas/UniversalForecastingRequest_IncludedDataGroups'
    UniversalForecastingRequest_BidLines:
      type: object
      properties:
        AdBugPageQualityCategoryId:
          type: string
        AdFormatId:
          type: string
        BidAdjustment:
          type: number
          format: double
    UniversalForecastingRequest_UniversalForecastingBidLists:
      type: object
      properties:
        BidLines:
          type: array
          items:
            $ref: '#/components/schemas/UniversalForecastingRequest_BidLines'
    inline_response_200_MetricResults:
      type: object
      properties:
        InsightMetricType:
          type: string
          description: The type of metric insight.
          enum:
          - Impressions
          - Spend
          - Frequency
          - Reach
        RangeStart:
          type: number
          format: double
        RangeEnd:
          type: number
          format: double
      example:
        RangeEnd: 6.02745618307040320615897144307382404804229736328125
        InsightMetricType: Impressions
        RangeStart: 0.80082819046101150206595775671303272247314453125
  securitySchemes:
    TTDAuth:
      type: apiKey
      description: Place the generated API token in the 'TTD-Auth' header.
      name: TTD-Auth
      in: header
      x-apikeyInfoFunc: swagger_server.controllers.authorization_controller.check_TTDAuth

